        <nav class="navbar">
        <div class="container-fluid">

            <div class="navbar-header">


                <a class="navbar-brand" href="#">
                   Merlin Chat
                </a>
                <p class="navbar-text" ng-hide="mobile()">Chat at your will</p>

            </div>




            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" ng-click="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{username}}
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
            
        </div>
    </nav>
     
    <div class="row">
        <div class="col-md-12">
            <div class="console box">
                <div class="box-heading"><h3>Console</h3></div>
                                <div class="box-content">
                    <div class="stream" ng-repeat="log in consoleLogs">
                        <p>{{ log.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>